<div class="col-lg-12 col-md-6 col-xl-6">
    <div class="mb-40 pt-30 single-blog">
    
        <div class="blog-content">
            {{ if or (eq .Section "rundeln-runt") (eq .Section "Protokoll") }}
            <span class="date-meta">{{ partial "post-date" . }}</span>
            {{ end }}
           
            {{ partial "post-title" . }}
           
            <p>{{ .Summary }}</p>
            {{ if .Truncated }}
            <a href="{{ .RelPermalink }}" class="read-more-btn">Läs mer <i class="lni lni-arrow-right"></i></a>
            {{ end }}
            {{ partial "post-tags" . }}
            {{ partial "post-categories" . }}
        </div>
    </div>
</div>