<footer class="footer mt-100">
  <div class="container">
    <div class="footer-content pt-75 pb-40">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-40">
          <h5 class="footer-heading">{{ .Site.Params.title | markdownify }}</h5>
          <p class="footer-about">Samfällighetsförening för boende längs Basgränd i kvarteret Trubaduren. Sedan 1993 förvaltar vi gemensamt våra gårdar, vägar och grönområden.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-40">
          <h5 class="footer-heading">Genvägar</h5>
          <ul class="footer-links">
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-40">
          <h5 class="footer-heading">Följ oss</h5>
          <div class="footer-social-links">
            <ul class="d-flex">
              <li>
                <a href="{{ .Site.Params.facebookurl }}" title="Facebook" aria-label="Facebook">
                  <i class="lni lni-facebook-filled"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-area">
      <div class="row align-items-center">
        <div class="col-12">
          <p class="text-center">&copy; {{ now.Format "2006" }} {{ .Site.Params.title | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="{{ "js/bootstrap.min.js" | relURL }}"></script>
