<footer class="footer mt-100">
  <div class="container">
    <div class="copyright-area">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="footer-social-links">
            <ul class="d-flex">
              <li><a href="https://www.facebook.com/groups/2267361103590771/">
                <i class="lni lni-facebook-filled"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <p>Rundelns samfällighetsförening</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="{{ "js/bootstrap.min.js" | relURL }}"></script>
