{{- $rawUrl := .globalImageUrl -}}
{{- if .imageUrl -}}{{- $rawUrl = .imageUrl -}}{{- end -}}
{{- $processedUrl := partial "image" $rawUrl -}}
<section class="hero-section hero-section-2 img-bg" style="background-image: url('{{ $processedUrl }}')">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-8 col-lg-9">
        <div class="hero-content-wrapper banner-content-wrapper">
          <h1 class="text-light">
            {{ .title | markdownify }}
          </h1>
          {{ with .slogan }}
          <p class="text-light">
           {{ . }}
          </p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <a href="#main-content" class="scroll-indicator" aria-label="Scrolla ner">
    <i class="lni lni-chevron-down"></i>
  </a>
</section>
