<section
  class="pt-75 pb-75 img-bg rundeln-header"
  {{- $rawUrl := .globalImageUrl -}}
  {{- if .imageUrl -}}{{- $rawUrl = .imageUrl -}}{{- end -}}
  {{- $processedUrl := partial "image" $rawUrl -}}
  aria-label="{{ .title }}"
  style="background-image: url('{{ $processedUrl }}')">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="banner-content text-mask banner-content-wrapper">
          <h2 class="text-light">{{ .title | markdownify }}</h2>
          {{ with .page }}
            {{ partial "breadcrumbs" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
